<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
	HOLE
{% endblock %}

{% block main %}
	<!-- GET THE CSS FOR THIS PAGE -->
	<link href="static/page_1.css" rel="stylesheet" type="text/css">

	<!-- THE SECRET CODE IS SOMEWHERE HERE -->
	<div class="text-center" id="story_details">
		<br>
		<h3>THE HOLE</h3><br>
		During a good walk down the street one sees a hole in the path, desides to drop <span>$26</span> down the hole.<br>
		One notices a hand grab the <span>$26</span> from the bottom.<br>
		The <span>$26</span> was gone for good, but can always be remebered, by one.<br>
		The hand had only shown <span id="secret_hint">3</span> fingers.<br>
	</div>
{% endblock %}