<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
	CAVE
{% endblock %}

{% block main %}
	<!-- GET THE CSS FOR THIS PAGE -->
	<link href="static/page_story_style.css" rel="stylesheet" type="text/css">
	<link href="static/page_3.css" rel="stylesheet" type="text/css">

	<!-- THE SECRET CODE IS SOMEWHERE HERE -->
	<div class="text-center" id="story_details">
		&nbsp;
		<h3>THE VOID</h3>&nbsp;
		ONE DOES NOT NEED ONE.<br>
		Void is 4 letters.
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				VOID DECIMAL VALUES
				<div class="row">
					<div class="col-8 col-sm-6 boxes_CSS">
						V
					</div>
					<div class="col-4 col-sm-6 boxes_CSS">
						86
					</div>
				</div>
				<div class="row">
					<div class="col-8 col-sm-6 boxes_CSS">
						O
					</div>
					<div class="col-4 col-sm-6 boxes_CSS">
						79
					</div>
				</div>
				<div class="row">
					<div class="col-8 col-sm-6 boxes_CSS">
						I
					</div>
					<div class="col-4 col-sm-6 boxes_CSS">
						73
					</div>
				</div>
				<div class="row">
					<div class="col-8 col-sm-6 boxes_CSS">
						D
					</div>
					<div class="col-4 col-sm-6 boxes_CSS">
						68
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}